<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--  주입하는 객체  -->
	<bean id="injectionBean" class="scope.ex.InjectionBean" />

	<!--  의존 객체  -->
	<!--<bean id="dependencyBean" class="scope.ex.DependencyBean">
		&lt;!&ndash;  setter 이용해 의존객체 주입  &ndash;&gt;
		<constructor-arg ref="injectionBean" />
		<property name="injectionBean" ref="injectionBean" />
	</bean>-->

	<bean id="dependencyBean" class="scope.ex.DependencyBean" scope="prototype">
		<constructor-arg ref="injectionBean" />
		<property name="injectionBean" ref="injectionBean" />
	</bean>
	
</beans>